<h1>Leadership and Academic Contributions</h1>
<ul>
    <li>
        <strong>Chair of Parallel Session:</strong>
        <ul>
            <li>2024 IEEE International Conference on Future Machine Learning and Data Science (FMLDS).</li>
        </ul>
    </li>
    <li>
        <strong>Reviewer Roles:</strong>
        <ul>
            <li>Neural Computing and Applications (2024).</li>
            <li>NILES Conference (2024).</li>
            <li>Nile University Undergraduate Research Forum (2023, 2024).</li>
        </ul>
    </li>
    <li>
        <strong>Seminars and Workshops:</strong>
        <ul>
            <li>Delivered workshops on using LaTeX for thesis writing, including graphing, equations, and presentations.</li>
            <li>Spoke on AI trends and developments during a panel hosted by DeepLearning.AI.</li>
        </ul>
    </li>
</ul>